@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 241 242;
  --surface: 255 255 255;
  --primary: 63 29 56;
  --accent: 244 63 94;
  --cta: 251 113 133;
  --cta-hover: 244 63 94;
  --foreground: 107 76 87;
  --secondary-text: 156 163 175;
}

.dark {
  --background: 11 15 20;
  --surface: 17 24 39;
  --primary: 249 250 251;
  --accent: 59 130 246;
  --cta: 37 99 235;
  --cta-hover: 96 165 250;
  --foreground: 249 250 251;
  --secondary-text: 156 163 175;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}