@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 241 242;
  --surface: 255 255 255;
  --primary: 63 29 56;
  --accent: 244 63 94;
  --cta: 251 113 133;
  --cta-hover: 244 63 94;
  --foreground: 107 76 87;
  --secondary-text: 156 163 175;
}

.dark {
  --background: 15 10 13;
  --surface: 26 20 23;
  --primary: 251 113 133;
  --accent: 244 63 94;
  --cta: 255 143 163;
  --cta-hover: 244 63 94;
  --foreground: 252 231 243;
  --secondary-text: 191 163 173;
  --border: 58 42 49;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}